.form-new-ot{
    width: 100%;
    margin: 0px 30px 20px 30px;
    padding: 40px;
    background: rgb(0 0 0 / 62%);
    border-radius: 15px;

.just-center{
     align-self: center !important;
}

.text-black{
    color: black;
}
}