.calendar-container>div{
    margin: auto;
    width: 90%;
    padding: 0rem 5rem;
    max-width: 1100px;
}
.fc-event{
    background: linear-gradient( 268.35deg, rgba(31, 28, 215, 0.99) 3.47%, rgba(59, 68, 238, 0.99) 60.18% );
    color: white !important;
}

.fc-event:hover{
    background: linear-gradient( 268.35deg, rgba(34, 32, 144, 0.99) 3.47%, rgba(32, 36, 122, 0.99) 60.18% );
    color: white !important;
}

.fc .fc-timegrid-slot{
    height: 2.5rem!important;
}
td{
    border : 1px solid var(--grey)!important
}