.container {
  height: 100vh;
  width: 10%;
  max-width: 7rem;
  display: flex;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
  background: #e8e8e8;
}

.logo{
    width: 45%;
    max-width: 5rem;
}



.menu{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.item>svg{
    fill: #52514e;
    width: 3rem;
}

.menu>a{
    color: #52514e !important;
    text-decoration: none;
    text-align: center;
}

.iconscenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
